.footer {
  grid-area: footer;
  display: flex;
  font-family: var(--font-family);
  align-items: flex-start;
  z-index: 5;
}

.footer img {
  width: 100px;
}

.addressBox {
  width: 150px;
}
.phoneAndOrg {
  width: 150px;
}
.openingHours {
  width: 290px;
  margin-top: 12px;
  margin-left: auto; /* Pushes the element to the far right */
}

.thicker {
  font-weight: bold;
}
.closed {
  color: var(--color-contrast-red);
}
