.container {
  position: relative;
  display: grid;
  grid-template-areas: "nav" "main" "footer";
}
.main {
  grid-area: main;
  border: 2px solid red;
  height: 80vh;
  overflow: hidden;
}
.imageBox {
  background-image: url("https://github.com/code-of-eidsten/semester-project-1-community-science-museum/blob/main/assets/images/ar_glasses.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 80vw;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 8%;
  right: -12%;
}
.circleTitle {
  color: var(--text-color-dark);
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  margin-left: 25%;
}
.forKidsCircle {
  border: 2px solid antiquewhite;
  width: 390px;
  height: 350px;
  border-radius: 100%;
  background-color: var(--text-color-light);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5) /* Outer shadow */,
    inset 0 0 20px rgba(0, 0, 0, 0.3); /* Inner shadow */
}

.forKidsText {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  touch-action: pan-y;
  height: 150px;
  width: 270px;
  margin-left: 20%;
  margin-top: -5%;
  /*need to add some extra space on the bottom, so all text can be seen*/
  padding-bottom: 105px;
}

/* Custom scrollbar styling */
.forKidsText::-webkit-scrollbar {
  width: 10px;
}

.forKidsText::-webkit-scrollbar-track {
  background: transparent;
}

.forKidsText::-webkit-scrollbar-thumb {
  background-color: var(--color-pop-green);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* For Firefox */
.forKidsText {
  scrollbar-width: thin;
  scrollbar-color: var(--color-pop-green) transparent; /* Change the color of the scrollbar thumb and track all in one, nice! :D*/
}

.priceText {
  position: absolute;
  font-family: var(--font-family);
  font-size: var(--font-size-largest);
  color: var(--color-darkest-green);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-pop-green);
  padding: 10px;
  bottom: 100px;
  right: 10px;
}
