.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  margin-right: auto;
  width: 300px;
  height: 60px;
  border-radius: 15px;
}

.navbar a {
  margin-left: 10px;
  font-family: var(--font-family);
  color: var(--text-color-light);
  text-decoration: none;
  font-size: var(--font-size-largest);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--color-pop-green);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-darkest-green);
  text-shadow: 0 0 30px var(--color-pop-green);
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
